<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <script src="{{ url_for('static', filename='nightmode.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lists.css') }}">
</head>
<body>

    {% include "header.html" %}

    <main>
        <section class="lists-page">
            <h1>Favorites</h1>
            <div id="favoritesContainer"></div>
        </section>
    </main>

    <script src="{{ url_for('static', filename='nav.js') }}"></script>
    <script src="{{ url_for('static', filename='favorites.js') }}"></script>
    <script src="{{ url_for('static', filename='favoritespage.js') }}"></script>
    {% include "footer.html" %}
</body>
</html>
